html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", "Roboto", sans-serif;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header__start */

.header__start {
    width: 1110px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

.header__logo {
    font-family: 'Roboto' sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    color: #555252;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

.header__logo::first-letter {
    font-weight: 900;
    color:#1abc9c;
}

.header__logo:hover {
    color: #1abc9c;
}

.header__logo:focus {
    color: #1abc9c;
}

.header__nav {
    margin: 0;
    float: right;
}

.header__nav-list {
    width: 480px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav-item{
    float: left;
}

.header__nav-link {
    display: inline-block;
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav-item:not(:last-child) {
    margin-right: 30px;
}

.header__nav-link:hover {
    color: #1abc9c;
}
.header__nav-link:focus {
    color: #1abc9c;
}

.cliarfix::after {
    content: '';
    display: table;
    clear: both;
}

/* section slider */

.section__main {
    margin: 0;
    padding: 0;
}

.section__slider {
    margin: 0;
    padding: 0;
}

.section__div { 
    /* height: 500px; */
    margin: 0;
    padding: 0;
    position: relative;
}

.section__div-child {
    position: absolute;
    width: 1010px;
    height: 120px;
    margin: 0;
    padding: 0;
    top: 42%;
    left: 49%;
    transform: translate(-47%, -40%);
}

.section__slider_item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section__slider-heading {
    font-size: 50px;
    line-height: 72px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.section__slider-span {
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.child-befor {
    display: block;
    width: 95px;
    height: 95px;
    margin-top: 20px;
    margin-right: 80px;
    padding-top: 5px;
    padding-left: 30px;
    border: none;
    float: left;
    background-color: #1abc9c;
    background-image: url(../img/icon/icon-00.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: opacity(0.4);
}

.child-befor:hover {
    filter: opacity(1);
}

.child-befor:focus {
    filter: opacity(1);
}

.child-after {
    display: block;
    width: 95px;
    height: 95px;
    margin-top: 20px;
    margin-left: 80px;
    padding-top: 5px;
    padding-left: 30px;
    border: none;
    float: right;
    background-color: #1abc9c;
    background-image: url(../img/icon/icon-001.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: opacity(0.4);
}

.child-after:hover {
    filter: opacity(1);
}

.child-after:focus {
    filter: opacity(1);
}

/* section collection */

.cliarfix::after {
    content: '';
    display: table;
    clear: both;
}

.section__collection {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f0fd;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section__title-head {
    margin: 0;
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    color: #515151;
    text-align: center;
    text-transform: uppercase;
}

.section__title-head::after {
    content: "";
    display: block;
    width: 166px;
    height: 8px;
    background-color: #1abc9c; 
    margin: 25px auto 0;
}

.section__title-new {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section__title-item {  
    width: 255px;
    height: 282px;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    cursor: pointer;
}

.section__title-item:not(:last-child) {
    margin-right: 30px;
}

.section__actions-wrap {
    position: relative;
}

.section__actions {
    display: block;
    width: 100%;
}

.section__actions_window {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgba( 0, 0, 0, 0.5);
    transition: all 0.35s;
    opacity: 0;
}

.section__title-item:hover .section__actions_window {
    opacity: 1;
}

.section__action-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    list-style: none;
}

.button__action-item {
    float: left;
    margin-right: 8px;
}

.button__action-item:nth-child(n+3) {
    margin-right: 0px;
}

.button__action-link {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button__action-links {
    width: 167px;
    height: 50px;
    margin: 0;
    margin-top: 7px;
    padding: 0;
    border: 1px solid #fff;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    background-color: #323232;
    text-transform: uppercase;
    cursor: pointer;
}
.button__action-link:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.button__action-item:hover .button__action-links {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.icon-01 {
    background-image: url(https://github.com/DenysPalyha/goit-fe-course/blob/master/module-05/img/icon-01.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-02 {
    background-image: url(https://github.com/DenysPalyha/goit-fe-course/blob/master/module-05/img/icon-02.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-03 {
    background-image: url(https://github.com/DenysPalyha/goit-fe-course/blob/master/module-05/img/icon-03.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-04 {
    background-image: url(https://github.com/DenysPalyha/goit-fe-course/blob/master/module-05/img/icon-04.png?raw=true);
    background-repeat: no-repeat;
    background-position: 10px;
}

.title__img {
    width: 100%;
    display: block;
    max-width: 255px;
    height: 282px;
}

.title__head {
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #323232;
}

.title__span {
    display: block;
    float: left;
    padding: 4px 12px;
}

.title__cost {
    display: block;
    float: right;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.section__title-item:hover .title__head {
    background-color: #1abc9c;
}

.footer {
    margin: 0;
    padding: 35px 0;
    background-color: #323232;
}

.footer__figcap {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    text-align: center;
}

.footer__link {
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    text-decoration: none;
}

.footer__link:hover {
    color: #46bfa9;
}

.footer__link:focus {
    color: #46bfa9;
}
