html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', 'Ubuntu', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

.page-nav {
    padding: 80px 0;
}

 /* site navigation */

.site-navigation {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 900px;
    margin:  0;
    padding: 0;
    list-style: none;
    text-align: center;

}

.site-navigation li {
    display: inline-block;
}

.site-navigation li:not(:last-child) {
    margin-right: 100px;
}


.site-navigation a {
    font-size: 14px;
    display: block;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;

}

.site-navigation a:hover {
    color: #03a9f4;
}
.site-navigation a:focus {
    color: #03a9f4;
}

/* row-text*/

main {
    width: 900px;
    margin: 0 auto;
}

section {
    font-size: 0;
    padding-bottom: 20px;
}

.row-text {
    width: 420px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 135px;
}

.row-text:nth-child(2n) {
    margin-right: 0;
}

.row-text:nth-last-child(-n +3) {
    margin-bottom: 0;
}

.row-sing {
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
    text-transform: uppercase;
}

.row-heading {
    margin: 0;
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.row-about {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

div {
    text-align: center;
    padding: 50px 0;
}

.button {
margin: 0;
padding: 19px 30px;
width: 160px;
height: 60px;
font-size: 20px;
color: #626262;
background-color: #fff;
border: 1px solid #000;
cursor: pointer;
}

.button:hover {
    color: #03a9f4;
}

.button:focus {
    color: #03a9f4;
}