$ff-kaushan: 'Kaushan Script', cursive;
$ff-monts: "Montserrat";
$ff-roboto: "Roboto";
$color-text-one: #fff;
$color-text-two: #333333;
$color-text-three: #999999;
$color-hover: #fce38a;
$color-icon-one: #95e1d3;
$color-icon-two: #f38181;